<% if current_user == @user %>
  <h1 class="welcome_text show_page_headers">Welcome, <%= current_user.name %></h1>
<% else %>
  <h1 class="welcome_text show_page_headers"><%= @user.name %>'s Projects</h1>
<% end %>

<!-- # <% if current_user == @user %>
#   <h3 class="welcome_text show_page_headers"> Here is a list of all your current projects: </h3>
# <% else %>
#   <h3 class="welcome_text show_page_headers"> Check out <%= @user.username %>'s current projects: </h3>
# <% end %> -->
<br><br>

<div class="route_details">
  <% @user.routes.each do |r| %>
    <div class="user_route_card">
      <a href="/routes/<%= r.id %>"><h2> <%= r.name %></h2></a>
      <p><%= r.grade %><p>
      <p>Status: <%= my_routes_status(r, @user).status %></p>
    </div>
  <% end %>
</div>

<% if current_user == @user %>
<button onclick="window.location.href='/routes/new'">Create a new route!</button><br><br>
<% end %>
