<h1>All My Routes</h1>

<ol>
  <% @routes.each do |r| %>
  <li>
    <a href="/user/<%= r.id %>"><h3><%= r.name %></h3></a>
    <h5>Grade: <%= r.grade %></h5>
    <h5>Location: <%= r.location %></h5>
    <% r.users.each do |u| %>
      <a href="/users/<%= u.id %>"><h5><%= u.username %>, </h5></a>
    <% end %>
    <br><br>
  <% end %>

  </li>
</ol>
