<h1>All Routes</h1>

<div class="route_details">
  <% @routes.each do |r| %>
  <div class="user_route_card">
    <a href="/routes/<%= r.id %>"><h2><%= r.name %></h2></a>
    <h5>Grade: <%= r.grade %></h5>
    <h5>Location: <%= r.location %></h5>
    <% r.users.each do |u| %>
      <a href="/users/<%= u.id %>"><h5 class='route_users'><%= u.username %>, </h5></a>
    <% end %>
  </div>
  <% end %>

</div>
