
<h1 class="show_page_headers welcome_text"> <%= @route.name %></h1><br>

<p class="route_show_text welcome_text">Grade: <%= @route.grade %></p>
<p class="route_show_text welcome_text">Location: <%= @route.location %></p>
<p class="route_show_text welcome_text">Users:
  <% @route.users.each do |u| %></p><br>
    <a class="route_users_show" href="/users/<%= u.id %>"><p><%= u.name %> </p></a>
    <p class="user_status"><%= my_users_status(u, @route).current_issue %></p>
  <% end %>

<br><br>
<div>
<% if @route.users.include?(current_user) %>
  <button onclick="window.location.href='/routes/<%= @route.id%>/edit'">Edit Your Route Status</a></button><br>
  <form id="delete_button" action="/routes/<%= @route.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete From Your Routes">
  </form>
<% end %>

<% if !@route.users.include?(current_user) %>
<button onclick="window.location.href='/routes/<%= @route.id%>/add'">Add to Your Routes</a></button>
<% end %>
</div>
