<h1> <%= @route.name %></h1><br>

<h4>Grade: <%= @route.grade %></h4><br>
<h4>Location: <%= @route.location %></h4><br>
<h4>Users: <% @route.users.each do |u| %></h4><br>
  <a href="/users/<%= u.id %>"><h5><%= u.username %>, </h5></a>
<% end %>

<br><br>

<button onclick="window.location.href='/routes/add'">Add to your Routes</a></button>
