<h1> <%= @route.name %></h1><br>

<h4>Grade: <%= @route.grade %></h4><br>
<h4>Location: <%= @route.location %></h4><br>
<h4>Users: <% @route.users.each do |u| %></h4><br>
  <a href="/users/<%= u.id %>"><h5><%= u.username %>, </h5></a>
    <%= my_users_status(u, @route).current_issue %>
  <% end %>

<br><br>
<button onclick="window.location.href='/routes/<%= @route.id%>/edit'">Edit Your Route Status</a></button><br>
<button onclick="window.location.href='/routes/<%= @route.id%>/delete'">Delete From Your Routes</a></button><br>
<button onclick="window.location.href='/routes/<%= @route.id%>/add'">Add to Your Routes</a></button>
